/* color */
$theme: #c3463a !default;
$text: #333333 !default;
$subText: #868686 !default;

/* aside bar */
$asideWidth: 200px !default;
$asideBorderColor: #e6e6e6 !default;
$avatarSize: 40px !default;
$menuHeight: 40px !default;

/* topbar */
$topbarHeight: 40px !default;

/* footer bar */
$footerBarHeight: 60px !default;
$footerBarBg: #fcfcfc !default;
